<div class="flexbox">
    {{aside-calendar}}
    {{full-calendar}}
</div>
    {{#if ergbieurg}}
      {{login-form}}
      {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
      {{/if}}
    {{/if}}
{{outlet}}
