<div class="flexbox">
    {{aside-calendar}}
    {{full-calendar
        theEvents=model.events
    }}
</div>
    {{#if hideAll}}
      {{login-form}}
      {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
      {{/if}}
    {{/if}}
{{outlet}}
