<div class="flexbox">
    {{aside-calendar
        events=events
    }}
    {{full-calendar
    events=events}}
</div>
    {{#if ergbieurg}}
      {{login-form}}
      {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
      {{/if}}
    {{/if}}
{{outlet}}
